<div class="container">
            <!--Room Select-->
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="col-12 d-table" style="padding-top: 2.5%;">

                        <div class="d-table-cell" style="text-align: center;">
                            <a href="Pyramid.html" target="_self">
                                <img src="img/Icons/Pyramid.png" alt="Pyramid" class="icon-buttons">
                            </a>
                            <h4>Pyramid</h4>
                        </div>

                        <div class="d-table-cell" style="text-align: center;">
                            <a href="Pyramid.html" target="_self">
                                <img src="img/Icons/Cube.png" alt="Cube" class="icon-buttons">
                            </a>
                            <h4>Deck</h4>
                        </div>


                        <div class="d-table-cell" style="text-align: center;">
                            <a href="Pyramid.html" target="_self">
                                <img src="img/Icons/Pentagon.png" alt="Pentagon" class="icon-buttons">
                            </a>
                            <h4>Garden</h4>
                        </div>


                        <div class="d-table-cell" style="text-align: center;">
                            <a href="Pyramid.html" target="_self">
                                <img src="img/Icons/Octagon.png" alt="Dome" class="icon-buttons">
                            </a>
                            <h4>Dome</h4>
                        </div>

                    </div>
                </div>
            </div>
</div>